@import "tailwindcss";

@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
    --color-fd-background: hsl(0, 0%, 96%);
    --color-fd-foreground: hsl(0, 0%, 3.9%);
    --color-fd-muted: hsl(0, 0%, 96.1%);
    --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
    --color-fd-popover: hsl(0, 0%, 98%);
    --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
    --color-fd-card: hsl(0, 0%, 94.7%);
    --color-fd-card-foreground: hsl(0, 0%, 3.9%);
    --color-fd-border: hsla(0, 0%, 80%, 50%);
    --color-fd-primary: hsl(0, 0%, 9%);
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-secondary: hsl(0, 0%, 93.1%);
    --color-fd-secondary-foreground: hsl(0, 0%, 9%);
    --color-fd-accent: hsla(0, 0%, 82%, 50%);
    --color-fd-accent-foreground: hsl(0, 0%, 9%);
    --color-fd-ring: hsl(0, 0%, 63.9%);
}

.dark {
    --color-fd-background: hsl(0, 0%, 7.04%);
    --color-fd-foreground: hsl(0, 0%, 92%);
    --color-fd-muted: hsl(0, 0%, 12.9%);
    --color-fd-muted-foreground: hsla(0, 0%, 70%, 0.8);
    --color-fd-popover: hsl(0, 0%, 11.6%);
    --color-fd-popover-foreground: hsl(0, 0%, 86.9%);
    --color-fd-card: hsl(0, 0%, 9.8%);
    --color-fd-card-foreground: hsl(0, 0%, 98%);
    --color-fd-border: hsla(0, 0%, 40%, 20%);
    --color-fd-primary: hsl(0, 0%, 98%);
    --color-fd-primary-foreground: hsl(0, 0%, 9%);
    --color-fd-secondary: hsl(0, 0%, 12.9%);
    --color-fd-secondary-foreground: hsl(0, 0%, 92%);
    --color-fd-accent: hsla(0, 0%, 40.9%, 30%);
    --color-fd-accent-foreground: hsl(0, 0%, 90%);
    --color-fd-ring: hsl(0, 0%, 54.9%);
}

body {
    overscroll-behavior: none;
    background: black;
    color: #FCFCFC;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100%;
}

::-webkit-scrollbar-thumb {
    background: #4b4e54;
    border-radius: 100%;
    min-width: 8px;
    max-width: 8px;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b4e54;
    min-width: 8px;
    max-width: 8px;
}

::selection {
    color: white;
    background-color: #4b4e54;
}

::-moz-selection {
    color: white;
    background-color: #4b4e54;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #4b4e54 transparent;
    -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar-thumb {
        min-width: 8px;
        max-width: 8px;
    }
}

/* Global button cursor pointer */
button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}